.div {
  display: inline;
  background-color: blueviolet;
}

nav a {
  display: block;
  width: 100px;
  height: 50px;
  background-color: aqua;
}

ul li {
    /* list-style: none; */
  display: inline-block;
  width: 100px;
  height: 100px;
  background-color: brown;
}


.static {
    position: static;
    bottom: 200px;
}

.rel {
    background-color: red;
}

.abs {
    background-color: yellow;
}

.fix {
    background-color: green;
}

.sti {
    background-color: blue;
}